$typing-dots: 1.2s;

@keyframes typing {
  0%,
  60%,
  100% {
    opacity: 0.2;
  }
  30% {
    opacity: 1;
  }
}

.bga-typing {
  &::after {
    content: "...";
    animation: typing $typing-dots infinite;
  }
}
